<!DOCTYPE html>
<html>

<head>
  <title>My Rails Application</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%# Font Awesome CDN %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a href="/" class="navbar-brand">MakeMyTrip</a>

      <button class="navbar-toggler border-0" data-bs-toggle="collapse" data-bs-target="#myNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="navbar-nav ms-lg-auto align-items-lg-center">
          <li class="nav-item">
            <a href="/ideas" class="nav-link">Users</a>
          </li>
          <% if user_signed_in? %>
          <li class="nav-item">
            Logged in as <strong><%= current_user.email %></strong>
          </li>
          <li class="nav-item">
            <a href="/users/edit" class="nav-link">Edit Profile</a>
          </li>
          <li class="nav-item">
            <a href="/users/sign_out" class="nav-link" id="sign-out">Logout</a>
          </li>
          <% else %>
          <li class="nav-item">
            <a href="/users/sign_in" class="nav-link">Login</a>
          </li>
          <li class="nav-item">
            <a href="/users/sign_up" class="nav-link" id="sign-up">Sign Up</a>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <%= yield %>
</body>

</html>